.popup__text {
  font-size: 14px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 17px;
  font-weight: 400;
  color: #000000;
  padding: 0 0 13px 0;
}

.popup__text:first-child {
  margin-bottom: 30px;
}